@charset "UTF-8";

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 1023px){
    body {
        background-image: linear-gradient(to bottom, var(--cor1), var(--cor5));
    }

    section#login {
        width: 80vw;
        height: 360px;
    }

    section#formulario {
        width: 70%;
        float: left;
    }

    div#imagem {
        width: 30%;
        height: 100%;
        float: right;
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-image: linear-gradient(to bottom, var(--cor4), var(--cor1));
    }

    section#login {
        width: 950px;
        height: 370px;
    }

    div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    section#formulario {
        float: right;
        width: 50%;
    }
}
